.forgot-password-page{
     background-image:linear-gradient(rgba(25, 23, 23, 0.6), rgba(28, 25, 25, 0.6)), url('/9.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.forgot_password_form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}