<div class="forgot-password-page d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-3 p-4 border rounded shadow forgot_password_form">
        <h2 class="text-center mb-4 text-warning-emphasis fs-2 bold">Forgot Password</h2>
        <form (ngSubmit)="resetPassword()">
        <div class="form-group mb-3">
            <label for="email" class="form-label text-warning-emphasis">Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="forgotPasswordForm.email" name="email" required>
        </div><br>
        <button type="submit" class="btn btn-dark w-100">
            Reset Password
        </button>
        <p class="text-center mt-3 text-warning-emphasis">
            Remembered your password?
            <a routerLink="/login">Login</a>
        </p>
        </form>
    </div>
</div>
