<div class="container mt-4">

  <h2>Admin Dashboard</h2>
  <p class=" text-muted">Welcome to UniMate Admin Panel</p>

  <div class="row g-4 mt-2">

    <div class="col-md-3">
      <div class="card p-3">
        <h5>Users</h5>
        <h2>120</h2>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3">
        <h5>Projects</h5>
        <h2>32</h2>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3">
        <h5>Teams</h5>
        <h2>15</h2>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3">
        <h5>Requests</h5>
        <h2>48</h2>
      </div>
    </div>

  </div>

</div>